
body {
    font-family: Arial, Helvetica, sans-serif;
    
    font-size: 16px;
    font-weight: regular;

    line-height: 150%;
    letter-spacing: 0px;
    background: #eeeeee;
    /* width: 960px; */
    height: 500px;
    /* padding-left: 100px;  */
    /* padding-right: 300px; */

  }

  h2 {
    font-size: 30px;
    font-weight: bold;

    line-height: 150%;
  }

  #container {
    background: #eeeeee;
    position: relative;
    /* padding-left: 20px; */
    margin-bottom: 18;
    /* width: 960px; */
    height: 960px;
  }

  footer {
    padding: 20px;
    border-top-color: #4aaaa5;
    border-top: 5px;
    text-align: center;
    background: #666666;
  }
  